.mixin.out/
asm/
crash-reports/
llibrary/
logs/
resourcepacks/
saves/
server-resource-packs/
shaderpacks/
screenshots/
skins/
XaeroWaypoints/
XaeroWaypoints_BACKUP032021/
XaeroWorldMap/
crafttweaker.log
options.txt
optionsof.txt
servers.dat
servers.dat.bak
usercache.json
usernamecache.json
config/itemphysic-client.json
config/creativecore-client.json
config/cofh/nonvflash/client.cfg
config/NEI/client.cfg
