# Configuration file

general {
    # This causes the deletion slot to delete items instantly, similar to Creative Mode. [default: false]
    B:"Instant Deletion"=false
}


gui {

    "net/minecraft/client/gui/inventory/guiinventory" {
        # The x coordinate of the anchor point for the slot position. [range: 0.0 ~ 1.0, default: 0.5]
        S:"Anchor X"=0.5

        # The y coordinate of the anchor point for the slot position. [range: 0.0 ~ 1.0, default: 0.5]
        S:"Anchor Y"=0.5

        # True if this screen should have a trash slot. [default: true]
        B:Enabled=true

        # The x coordinate of the slot relative to the anchor. [range: -600 ~ 600, default: 60]
        I:"Slot X"=53

        # The y coordinate of the slot relative to the anchor. [range: -600 ~ 600, default: 83]
        I:"Slot Y"=83
    }

    "net/minecraft/client/gui/inventory/guichest" {
        # The x coordinate of the anchor point for the slot position. [range: 0.0 ~ 1.0, default: 0.5]
        S:"Anchor X"=0.5

        # The y coordinate of the anchor point for the slot position. [range: 0.0 ~ 1.0, default: 0.5]
        S:"Anchor Y"=0.5

        # True if this screen should have a trash slot. [default: true]
        B:Enabled=true

        # The x coordinate of the slot relative to the anchor. [range: -600 ~ 600, default: 60]
        I:"Slot X"=56

        # The y coordinate of the slot relative to the anchor. [range: -600 ~ 600, default: 84]
        I:"Slot Y"=84
    }

    "net/minecraft/client/gui/inventory/guicrafting" {
        # The x coordinate of the anchor point for the slot position.
        S:"Anchor X"=0.5

        # The y coordinate of the anchor point for the slot position.
        S:"Anchor Y"=0.5

        # True if this screen should have a trash slot.
        B:Enabled=true

        # The x coordinate of the slot relative to the anchor.
        I:"Slot X"=60

        # The y coordinate of the slot relative to the anchor.
        I:"Slot Y"=83
    }

    "net/minecraft/client/gui/inventory/guifurnace" {
        S:"Anchor X"=0.5
        S:"Anchor Y"=0.5
        B:Enabled=false
        I:"Slot X"=60
        I:"Slot Y"=83
    }

    "de/ellpeck/actuallyadditions/mod/inventory/gui/guicoffeemachine" {
        S:"Anchor X"=0.5
        S:"Anchor Y"=0.5
        B:Enabled=false
        I:"Slot X"=60
        I:"Slot Y"=89
    }

    "de/ellpeck/actuallyadditions/mod/inventory/gui/guicanolapress" {
        S:"Anchor X"=0.5
        S:"Anchor Y"=0.5
        B:Enabled=false
        I:"Slot X"=60
        I:"Slot Y"=89
    }

    "de/ellpeck/actuallyadditions/mod/inventory/gui/guigrinder" {
        S:"Anchor X"=0.5
        S:"Anchor Y"=0.5
        B:Enabled=false
        I:"Slot X"=60
        I:"Slot Y"=89
    }

    "de/ellpeck/actuallyadditions/mod/inventory/gui/guigiantchest" {
        S:"Anchor X"=0.5
        S:"Anchor Y"=0.5
        B:Enabled=false
        I:"Slot X"=93
        I:"Slot Y"=129
    }

    "de/ellpeck/actuallyadditions/mod/inventory/gui/guicoalgenerator" {
        S:"Anchor X"=0.5
        S:"Anchor Y"=0.5
        B:Enabled=false
        I:"Slot X"=60
        I:"Slot Y"=89
    }

    "com/tiviacz/travelersbackpack/gui/guitravelersbackpack" {
        # The x coordinate of the anchor point for the slot position. [range: 0.0 ~ 1.0, default: 0.5]
        S:"Anchor X"=0.5

        # The y coordinate of the anchor point for the slot position. [range: 0.0 ~ 1.0, default: 0.5]
        S:"Anchor Y"=0.5

        # True if this screen should have a trash slot. [default: false]
        B:Enabled=false

        # The x coordinate of the slot relative to the anchor. [range: -600 ~ 600, default: 96]
        I:"Slot X"=96

        # The y coordinate of the slot relative to the anchor. [range: -600 ~ 600, default: 103]
        I:"Slot Y"=103
    }

    "com/lothrazar/cyclicmagic/item/storagesack/guistorage" {
        # The x coordinate of the anchor point for the slot position. [range: 0.0 ~ 1.0, default: 0.5]
        S:"Anchor X"=0.5

        # The y coordinate of the anchor point for the slot position. [range: 0.0 ~ 1.0, default: 0.5]
        S:"Anchor Y"=0.5

        # True if this screen should have a trash slot. [default: false]
        B:Enabled=false

        # The x coordinate of the slot relative to the anchor. [range: -600 ~ 600, default: 78]
        I:"Slot X"=78

        # The y coordinate of the slot relative to the anchor. [range: -600 ~ 600, default: 110]
        I:"Slot Y"=110
    }

    "thaumcraft/client/gui/guiarcaneworkbench" {
        # The x coordinate of the anchor point for the slot position. [range: 0.0 ~ 1.0, default: 0.5]
        S:"Anchor X"=0.5

        # The y coordinate of the anchor point for the slot position. [range: 0.0 ~ 1.0, default: 0.5]
        S:"Anchor Y"=0.5

        # True if this screen should have a trash slot. [default: false]
        B:Enabled=false

        # The x coordinate of the slot relative to the anchor. [range: -600 ~ 600, default: 67]
        I:"Slot X"=67

        # The y coordinate of the slot relative to the anchor. [range: -600 ~ 600, default: 117]
        I:"Slot Y"=117
    }

    "net/minecraft/client/gui/guimerchant" {
        S:"Anchor X"=0.5
        S:"Anchor Y"=0.5
        B:Enabled=false
        I:"Slot X"=60
        I:"Slot Y"=83
    }

    "baubles/client/gui/guiplayerexpanded" {
        # The x coordinate of the anchor point for the slot position. [range: 0.0 ~ 1.0, default: 0.5]
        S:"Anchor X"=0.5

        # The y coordinate of the anchor point for the slot position. [range: 0.0 ~ 1.0, default: 0.5]
        S:"Anchor Y"=0.5

        # True if this screen should have a trash slot. [default: false]
        B:Enabled=false

        # The x coordinate of the slot relative to the anchor. [range: -600 ~ 600, default: 60]
        I:"Slot X"=60

        # The y coordinate of the slot relative to the anchor. [range: -600 ~ 600, default: 83]
        I:"Slot Y"=83
    }

    "forestry/apiculture/gui/guibeehousing" {
        S:"Anchor X"=0.5
        S:"Anchor Y"=0.5
        B:Enabled=false
        I:"Slot X"=60
        I:"Slot Y"=95
    }

    "net/minecraft/client/gui/inventory/guichest_large" {
        S:"Anchor X"=0.5
        S:"Anchor Y"=0.5
        B:Enabled=true
        I:"Slot X"=60
        I:"Slot Y"=111
    }

    "jds/bibliocraft/gui/guibookcase" {
        S:"Anchor X"=0.5
        S:"Anchor Y"=0.5
        B:Enabled=false
        I:"Slot X"=60
        I:"Slot Y"=83
    }

    "thaumcraft/client/gui/guiresearchtable" {
        # The x coordinate of the anchor point for the slot position. [range: 0.0 ~ 1.0, default: 0.5]
        S:"Anchor X"=0.5

        # The y coordinate of the anchor point for the slot position. [range: 0.0 ~ 1.0, default: 0.5]
        S:"Anchor Y"=0.5

        # True if this screen should have a trash slot. [default: false]
        B:Enabled=false

        # The x coordinate of the slot relative to the anchor. [range: -600 ~ 600, default: 99]
        I:"Slot X"=99

        # The y coordinate of the slot relative to the anchor. [range: -600 ~ 600, default: 127]
        I:"Slot Y"=127
    }

    "cpw/mods/ironchest/client/gui/chest/guichest" {
        # The x coordinate of the anchor point for the slot position. [range: 0.0 ~ 1.0, default: 0.5]
        S:"Anchor X"=0.5

        # The y coordinate of the anchor point for the slot position. [range: 0.0 ~ 1.0, default: 0.5]
        S:"Anchor Y"=0.5

        # True if this screen should have a trash slot. [default: false]
        B:Enabled=false

        # The x coordinate of the slot relative to the anchor. [range: -600 ~ 600, default: 64]
        I:"Slot X"=64

        # The y coordinate of the slot relative to the anchor. [range: -600 ~ 600, default: 128]
        I:"Slot Y"=101
    }

    "com/pam/harvestcraft/gui/guipresser" {
        S:"Anchor X"=0.5
        S:"Anchor Y"=0.5
        B:Enabled=false
        I:"Slot X"=60
        I:"Slot Y"=83
    }

    "net/msrandom/witchery/client/gui/inventory/guiwitchesoven" {
        S:"Anchor X"=0.5
        S:"Anchor Y"=0.5
        B:Enabled=false
        I:"Slot X"=60
        I:"Slot Y"=83
    }

    "net/blay09/mods/cookingforblockheads/client/gui/guifridge" {
        S:"Anchor X"=0.5
        S:"Anchor Y"=0.5
        B:Enabled=false
        I:"Slot X"=60
        I:"Slot Y"=84
    }

    "forestry/core/gui/guinaturalistinventory" {
        S:"Anchor X"=0.5
        S:"Anchor Y"=0.5
        B:Enabled=false
        I:"Slot X"=70
        I:"Slot Y"=101
    }

    "net/minecraft/client/gui/guienchantment" {
        # The x coordinate of the anchor point for the slot position. [range: 0.0 ~ 1.0, default: 0.5]
        S:"Anchor X"=0.5

        # The y coordinate of the anchor point for the slot position. [range: 0.0 ~ 1.0, default: 0.5]
        S:"Anchor Y"=0.5

        # True if this screen should have a trash slot. [default: false]
        B:Enabled=false

        # The x coordinate of the slot relative to the anchor. [range: -600 ~ 600, default: 60]
        I:"Slot X"=60

        # The y coordinate of the slot relative to the anchor. [range: -600 ~ 600, default: 83]
        I:"Slot Y"=83
    }

    "team/chisel/client/gui/guihitechchisel" {
        S:"Anchor X"=0.5
        S:"Anchor Y"=0.5
        B:Enabled=false
        I:"Slot X"=100
        I:"Slot Y"=110
    }

    "thaumcraft/client/gui/guifocalmanipulator" {
        S:"Anchor X"=0.5
        S:"Anchor Y"=0.5
        B:Enabled=false
        I:"Slot X"=87
        I:"Slot Y"=115
    }

    "net/blay09/mods/cookingforblockheads/client/gui/guirecipebook" {
        S:"Anchor X"=0.5
        S:"Anchor Y"=0.5
        B:Enabled=false
        I:"Slot X"=60
        I:"Slot Y"=87
    }

    "net/blay09/mods/cookingforblockheads/client/gui/guioven" {
        S:"Anchor X"=0.5
        S:"Anchor Y"=0.5
        B:Enabled=false
        I:"Slot X"=71
        I:"Slot Y"=96
    }

    "thaumcraft/client/gui/guismelter" {
        S:"Anchor X"=0.5
        S:"Anchor Y"=0.5
        B:Enabled=false
        I:"Slot X"=60
        I:"Slot Y"=83
    }

    "thaumcraft/client/gui/guithaumatorium" {
        S:"Anchor X"=0.5
        S:"Anchor Y"=0.5
        B:Enabled=false
        I:"Slot X"=59
        I:"Slot Y"=108
    }

    "com/pam/harvestcraft/gui/guigrinder" {
        S:"Anchor X"=0.5
        S:"Anchor Y"=0.5
        B:Enabled=false
        I:"Slot X"=60
        I:"Slot Y"=83
    }

    "thaumcraft/client/gui/guifocuspouch" {
        S:"Anchor X"=0.5
        S:"Anchor Y"=0.5
        B:Enabled=false
        I:"Slot X"=59
        I:"Slot Y"=116
    }

    "net/minecraft/client/gui/guirepair" {
        S:"Anchor X"=0.5
        S:"Anchor Y"=0.5
        B:Enabled=false
        I:"Slot X"=60
        I:"Slot Y"=83
    }

    "thaumcraft/client/gui/guilogistics" {
        S:"Anchor X"=0.5
        S:"Anchor Y"=0.5
        B:Enabled=false
        I:"Slot X"=79
        I:"Slot Y"=107
    }

    "net/msrandom/witchery/client/gui/inventory/guidistillery" {
        S:"Anchor X"=0.5
        S:"Anchor Y"=0.5
        B:Enabled=false
        I:"Slot X"=60
        I:"Slot Y"=83
    }

    "thaumcraft/client/gui/guivoidsiphon" {
        S:"Anchor X"=0.5
        S:"Anchor Y"=0.5
        B:Enabled=false
        I:"Slot X"=60
        I:"Slot Y"=83
    }

    "net/minecraft/client/gui/inventory/guibrewingstand" {
        S:"Anchor X"=0.5
        S:"Anchor Y"=0.5
        B:Enabled=false
        I:"Slot X"=60
        I:"Slot Y"=83
    }

    "com/pam/harvestcraft/gui/guimarket" {
        S:"Anchor X"=0.5
        S:"Anchor Y"=0.5
        B:Enabled=false
        I:"Slot X"=60
        I:"Slot Y"=83
    }

    "forestry/factory/gui/guisqueezer" {
        S:"Anchor X"=0.5
        S:"Anchor Y"=0.5
        B:Enabled=false
        I:"Slot X"=60
        I:"Slot Y"=83
    }

    "forestry/factory/gui/guicarpenter" {
        S:"Anchor X"=0.5
        S:"Anchor Y"=0.5
        B:Enabled=false
        I:"Slot X"=60
        I:"Slot Y"=109
    }

    "forestry/factory/gui/guicentrifuge" {
        S:"Anchor X"=0.5
        S:"Anchor Y"=0.5
        B:Enabled=false
        I:"Slot X"=60
        I:"Slot Y"=83
    }

    "net/blay09/mods/cookingforblockheads/client/gui/guicounter" {
        S:"Anchor X"=0.5
        S:"Anchor Y"=0.5
        B:Enabled=false
        I:"Slot X"=60
        I:"Slot Y"=84
    }

    "net/minecraft/client/gui/guihopper" {
        S:"Anchor X"=0.5
        S:"Anchor Y"=0.5
        B:Enabled=false
        I:"Slot X"=60
        I:"Slot Y"=66
    }

    "forestry/core/gui/guialyzer" {
        S:"Anchor X"=0.5
        S:"Anchor Y"=0.5
        B:Enabled=false
        I:"Slot X"=95
        I:"Slot Y"=119
    }

    "thecodex6824/thaumicaugmentation/client/gui/guicelestialobserver" {
        S:"Anchor X"=0.5
        S:"Anchor Y"=0.5
        B:Enabled=false
        I:"Slot X"=60
        I:"Slot Y"=108
    }

    "thaumcraft/client/gui/guigolembuilder" {
        S:"Anchor X"=0.5
        S:"Anchor Y"=0.5
        B:Enabled=false
        I:"Slot X"=76
        I:"Slot Y"=112
    }

    "net/msrandom/witchery/client/gui/inventory/guispinningwheel" {
        S:"Anchor X"=0.5
        S:"Anchor Y"=0.5
        B:Enabled=false
        I:"Slot X"=60
        I:"Slot Y"=83
    }

    "thaumcraft/client/gui/guiarcanebore" {
        S:"Anchor X"=0.5
        S:"Anchor Y"=0.5
        B:Enabled=false
        I:"Slot X"=59
        I:"Slot Y"=116
    }

    "com/zeitheron/hammercore/client/gui/impl/smooth/guifurnacesmooth" {
        # The x coordinate of the anchor point for the slot position. [range: 0.0 ~ 1.0, default: 0.5]
        S:"Anchor X"=0.5

        # The y coordinate of the anchor point for the slot position. [range: 0.0 ~ 1.0, default: 0.5]
        S:"Anchor Y"=0.5

        # True if this screen should have a trash slot. [default: false]
        B:Enabled=false

        # The x coordinate of the slot relative to the anchor. [range: -600 ~ 600, default: 60]
        I:"Slot X"=60

        # The y coordinate of the slot relative to the anchor. [range: -600 ~ 600, default: 83]
        I:"Slot Y"=83
    }

    "thaumcraft/common/golems/client/gui/sealbasegui" {
        S:"Anchor X"=0.5
        S:"Anchor Y"=0.5
        B:Enabled=false
        I:"Slot X"=60
        I:"Slot Y"=116
    }

    "thaumcraft/client/gui/guipech" {
        S:"Anchor X"=0.5
        S:"Anchor Y"=0.5
        B:Enabled=false
        I:"Slot X"=59
        I:"Slot Y"=116
    }

    "com/github/alexthe666/iceandfire/client/gui/guilectern" {
        # The x coordinate of the anchor point for the slot position. [range: 0.0 ~ 1.0, default: 0.5]
        S:"Anchor X"=0.5

        # The y coordinate of the anchor point for the slot position. [range: 0.0 ~ 1.0, default: 0.5]
        S:"Anchor Y"=0.5

        # True if this screen should have a trash slot. [default: false]
        B:Enabled=false

        # The x coordinate of the slot relative to the anchor. [range: -600 ~ 600, default: 60]
        I:"Slot X"=60

        # The y coordinate of the slot relative to the anchor. [range: -600 ~ 600, default: 83]
        I:"Slot Y"=83
    }

}


